<% if @users.exists? %>
  <div class="container">
    <div class="row">
      <div class="col-4 mx-auto">
        <table class='table'>
          <thead>
            <tr>
              <th>name</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user), class:"text-dark" %></td>
              <td>フォロー数: <%= user.followings.count %></td>
              <td>フォロワー数: <%= user.followers.count %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
   </div>
<% else %>
<div class="container">
  <div class="row mt-5">
    <div class="col-5 mx-auto text-center">
      <h3>フォローユーザーがいません</h3>
    </div>
  </div>
</div>
<% end %>
