<% if diary.score >= 0.8 %>
<p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p>
<% elsif diary.score >= 0.5 %>
<p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_gray"></p>
<% elsif diary.score >= 0.0 %>
<p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_gray"></p><p class= "fas fa-heart heart_gray"></p>
<% elsif diary.score >= -0.5 %>
<p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_gray"></p><p class= "fas fa-heart heart_gray"></p><p class= "fas fa-heart heart_gray"></p>
<% else %>
<p class= "fas fa-heart heart_red"></p><p class= "fas fa-heart heart_gray"></p><p class= "fas fa-heart heart_gray"></p><p class= "fas fa-heart heart_gray"></p><p class= "fas fa-heart heart_gray"></p>
<% end %>