<div class="row my-5">
	<div class="col-9 mx-auto">
		<%= image_tag 'about2.jpg', {class: "about-image"} %>
	</div>
</div>
<div class="row">
	<div class="col-6 text-center mx-auto">
		<p class="about-text">
			お腹の中に新しい命を授かることは、</br>
			とても感動的なこと。</br>
			でも、喜びと同時に不安や、心配事も</br>
			でてきてしまいますよね。</br>
			お腹の中で無事に育ってくれているかな</br>
			大きくなっているかな、、</br>
			産まれてからは</br>
			泣き止まない赤ちゃんにイライラ</br>
			してしまったり</br>
			自分の育児に自信がなくなったり、、</br>
			不安でいっぱいの毎日を</br>
			過ごしているかと思います。
		</p>
	</div>
</div>
<div class="row my-5">
	<div class="col-9 mx-auto">

	</div>
</div>
<div class="row">
	<div class="col-6 text-center mx-auto">
		<p class="about-text">
			"孤育て" という言葉を</br>
			知っていますか？</br>
			様々な理由で夫や親族の協力が得られず</br>
			近所の付き合いもなく、孤立した状態で</br>
			母親が子供を育てている状態が</br>
		　"孤育て" です。</br>
			近年、この孤育てが原因で産後うつに</br>
			なってしまったり虐待に繋がってしまう</br>
			問題がふえています。</br>
			悩んでいるのは</br>
			自分だけじゃない、</br>
			同じ悩みを抱えている人が</br>
			沢山いる事を知って欲しい。
		</p>
	</div>
</div>
<div class="row my-5">
	<div class="col-9 mx-auto">
		<%= image_tag 'about3.jpg', {class: "about-image"} %>
	</div>
</div>
<div class="row mb-5">
	<div class="col-6 text-center mx-auto">
		<p class="about-text">
			このサイトはそんな思いから</br>
			妊娠中、育児中の</br>
			不安を少しでも取り除ける様</br>
			悩みを伝え合い、</br>
			解消する手助けをしたいと思います。
		</p>
	</div>
</div>


