<div class="container">
  <div class="row">
    <div class="col-4">
    	<p class="top_text">
				子供の成長の記録</br>
				子育ての悩み</br>
				共有してみんなで育てていく
			</p>
    </div>
    <div class="col-8">
    	<img src="assets/family.jpg" class="img-fluid">
    </div>
  </div>
  <div class="row">
  	<div class="col-4 mt-5 mx-auto">
  		<a href="/users/sign_up" class="btn_05"><span>新規登録</span></a>
  	</div>
  	<div class="col-4 mt-5 mx-auto">
  		<a href="/users/sign_in" class="btn_05"><span>ログイン</span></a>
  	</div>
  </div>
</div>
