<div class="container">
  <div class="row">
    <div class="col-4">
    	<p class="top-text">
				子供の成長の記録</br>
				子育ての悩み</br>
				共有してみんなで育ていく
			</p>
    </div>
    <div class="col-8">
      <%= image_tag 'family.jpg', {class: "img-fluid"} %>
    </div>
  </div>
  <div class="row">
  	<div class="col-4 mt-5 mx-auto">
  		<%= link_to("新規登録", new_user_registration_path, {class: "btn_1"}) %>
  	</div>
  	<div class="col-4 mt-5 mx-auto">
  		<%= link_to("ログイン", new_user_session_path, {class: "btn_1"}) %>
  	</div>
  </div>
</div>
