// Place all the styles related to the Troubles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.trouble-box {
	display: flex;
	flex-wrap: wrap;
}

.trouble-item {
	margin: 10px;
}
.trouble-message {
    font-size: 30px;
    padding-top: 100px;
    color: #fff;
    text-shadow: 1px 2px 3px #808080;
    background-image: image-url(trouble.jpg);
    background-size: 1200px 600px;
    height: 300px;

}